---
---

@import "{{ site.theme }}";

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald&display=swap");

$heading-font: "Oswald", sans-serif;
$base-font: "Lora", serif;

body {
  font-family: $base-font;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: 400;
}

h1 {
  font-size: clamp(2rem, calc(1.8rem + 1vw), 3rem);
}

h2 {
  font-size: clamp(1.5rem, calc(1.3rem + 1vw), 2.5rem);
}

h3 {
  font-size: clamp(1rem, calc(0.8rem + 1vw), 2rem);
}

h4 {
  font-size: 1.1rem;
}

a {
  &:hover,
  &:focus {
    font-weight: 400;
  }
}

h1 {
  margin-bottom: 10px;

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: inherit;
      font-weight: 400;
    }
  }
}

li p strong:first-child {
  font-family: $heading-font;
}

hr {
  margin: 20px 0;
}

header {
  h1 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
  }

  img {
    border-radius: 8px;
    display: block;
    margin: 0 auto;
  }

  blockquote {
    border: none;
    margin: 20px 0;
    padding: 0;
    text-align: center;
  }
}

.sz-root {
  margin-bottom: 20px;
}

.social-links {
  a {
    font-family: $heading-font;
    display: block;
    font-size: 1.1rem;
    line-height: 2rem;
  }

  img {
    display: inline-block;
    vertical-align: text-bottom;
    height: 1.6rem;
  }
}

.article-container {
  display: none;
  //display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  margin: 0 auto;
  max-width: 1200px;

  article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    border-radius: 8px;

    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 8px;
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }

    h3 {
      font-size: 1.1rem;
      margin: 10px 0;
      line-height: 1.1;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      /* Fallback for Firefox */
      height: calc(1.1em * 1);
    }

    p {
      margin: 0;
      line-height: 1.2;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      /* Fallback for Firefox */
      max-height: calc(1.2em * 3);
    }
  }
}

@media (min-width: 750px) {
  .article-container {
    grid-template-columns: repeat(2, 1fr);
    article h3 {
      -webkit-line-clamp: 2;
      /* Fallback for Firefox */
      height: calc(1.1em * 2);
    }
  }
  .social-links {
    display: flex;
    justify-content: space-between;
  }
}
