<!doctype html>
<html lang="en-GB">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta
    http-equiv="Content-Security-Policy"
    content="
        base-uri 'self';
        default-src 'none';
        style-src-elem 'self' https://fonts.googleapis.com;
        script-src-elem 'self' 'sha256-bECdVouORk5RTQ9nM+cAXTnqWmyLoHnUL98b8fyAIl0=';
        script-src 'unsafe-hashes' 'sha256-qp1hNEDz5ysWmtAqFDa6WtDMnsWqtU0ZaKCicDFvWO4=';
        connect-src 'self' https://api.microlink.io;
        img-src 'self' data: https://static.licdn.com https://media.licdn.com https://www.headforwards.com;
        font-src 'self' https://fonts.gstatic.com;
        manifest-src 'self';
      "
  >
  {% seo %}
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://api.microlink.io" crossorigin>
  <link
    rel="preload"
    as="style"
    href="https://fonts.googleapis.com/css2?family=Oswald&display=swap"
  >
  <link
    rel="preload"
    as="style"
    href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald&display=swap"
  >
  <link
    rel="preload"
    as="image"
    type="image/webp"
    href="{{ site.logo | append: "?v=" | append: site.github.build_revision | relative_url }}"
  >
  <link
    rel="stylesheet"
    as="style"
    href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}"
  >
  {% include head-custom.html %}
</head>
<body>
<div class="wrapper">
  <header>
    <h1>
      <a href="{{ "/" | absolute_url }}">{{ site.title }}</a>
    </h1>
    <p>{{ site.tagline }}</p>
    <img
      src="data:image/webp;base64,UklGRpoAAABXRUJQVlA4II4AAACwBACdASoUABQAPzmSvlmvKaYjqAgB4CcJYgBV/QPPQt5JSg3/eIl8NPwDtOUAAP6QSokDmRaLzA1RfEU5w8QWCv4B4s2pvAeVx4IgDglIvhxPED8+tj7D4t2/RxWL6OkwpkaHyraNP28yz480X9aToNH/HW7bntBNsCqs3D/bgMpXBZpQEkjDZGeAAAAA"
      data-src="{{ site.logo | append: "?v=" | append: site.github.build_revision | relative_url }}"
      alt="{{ site.title | split: ' - ' | first }}"
      class="placeholder-image"
      onload="loadFullImage(this)"
    />
    <blockquote>{{ site.description }}</blockquote>
  </header>
  <section>
    {{ content }}
    <hr>
    <div class="social-links">
      <a href="https://linkedin.com/in/andyrlweir" target="_blank"
      ><img src="/assets/icons/linkedin.svg" alt="Icon"> LinkedIn</a
      >
      <a href="https://github.com/ocean-internet" target="_blank"
      ><img src="/assets/icons/github.svg" alt="Icon"> GitHub</a
      >
      <a href="https://twitter.com/OceanInternetNQ" target="_blank"
      ><img src="/assets/icons/twitter.svg" alt="Icon"> Twitter</a
      >
      <a href="https://headforwards.com" target="_blank"
      ><img src="/assets/icons/work.svg" alt="Icon"> Headforwards</a
      >
    </div>
  </section>
  <footer>
    <p>
      <small
      >Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small
      >
    </p>
  </footer>
</div>
<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
<script src="{{ "/assets/js/index.js?v=" | append: site.github.build_revision | relative_url }}"></script>
</body>
</html>
